html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
  font-family: "Montserrat", sans-serif;
}



.typewriter-noti-black{
  color: #3a5cd7;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid red; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(40, end),
    blink-caret-noti-blue .75s step-end infinite;
}


.typewriter-noti-blue {
  color: #3a5cd7;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid red; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3s steps(40, end),
    blink-caret-noti-blue .75s step-end infinite;
}


.typewriter-white {
  color: #3a5cd7;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid red; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3s steps(40, end),
    blink-caret-white .75s step-end infinite;
}



.typewriter-red {
  color: #3a5cd7;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid red; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3s steps(40, end),
    blink-caret-red .75s step-end infinite;
}

.typewriter-orange {
  color: #3a5cd7;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret-orange .75s step-end infinite;
}

.typewriter-yellow {
  color: #3a5cd7;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid yellow; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5s steps(40, end),
    blink-caret-yellow .75s step-end infinite;
}


.typewriter-green {
  color: #3a5cd7;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid green; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 7s steps(40, end),
    blink-caret-green .75s step-end infinite;
}


.typewriter-blue {
  color: #3a5cd7;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid blue; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret-blue .75s step-end infinite;
}


.typewriter-indigo {
  color: #3a5cd7;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid indigo; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 4s steps(40, end),
    blink-caret-indigo .75s step-end infinite;
}


.typewriter-violet {
  color: #3a5cd7;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid violet; /* The typwriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 6s steps(40, end),
    blink-caret-violet .75s step-end infinite;
}






/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret-red {
  from, to { border-color: transparent }
  50% { border-color: red; }
}

/* The typewriter cursor effect */
@keyframes blink-caret-orange {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

/* The typewriter cursor effect */
@keyframes blink-caret-yellow {
  from, to { border-color: transparent }
  50% { border-color: yellow; }
}

/* The typewriter cursor effect */
@keyframes blink-caret-green {
  from, to { border-color: transparent }
  50% { border-color: green; }
}

/* The typewriter cursor effect */
@keyframes blink-caret-blue {
  from, to { border-color: transparent }
  50% { border-color: blue; }
}

/* The typewriter cursor effect */
@keyframes blink-caret-indigo {
  from, to { border-color: transparent }
  50% { border-color: indigo; }
}

/* The typewriter cursor effect */
@keyframes blink-caret-violet {
  from, to { border-color: transparent }
  50% { border-color: violet; }
}

/* The typewriter cursor effect */
@keyframes blink-caret-noti-blue {
  from, to { border-color: transparent }
  50% { border-color: #3a5cd7; }
}

/* The typewriter cursor effect */
@keyframes blink-noti-black {
  from, to { border-color: transparent }
  50% { border-color: #323232; }
}

/* The typewriter cursor effect */
@keyframes blink-caret-white {
  from, to { border-color: transparent }
  50% { border-color: whitesmoke; }
}



















.intro{
  color: #3a5cd7;
}

.img-responsive-button{
  height: auto;
  width:auto;
 
}





.img-responsive{
  height: auto;
  width:auto;
  max-height: 50px;
  max-width: 250px;
}





h1 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

h2 {
  font-size: 8rem;
  font-family: "Lobster", sans-serif;
  font-weight: lighter;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
}

.docs-p {
    font-size: 1.5rem;
  }
  


li {
  font-size: 2rem;
}

a {
  color: white;
  text-decoration: none;
}

.home { 
  /*background: radial-gradient(#525252, #131313); */
  background: white;
}

.nav-container {
  background: radial-gradient(#f4f1fa, #f4f1fc);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

nav {
  width: 80%;
  margin: auto;
  min-height: 10vh;
  padding: 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
}

nav #logo {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  position: relative;
}

nav #logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  background: #f54538;
  border-radius: 50%;
  -webkit-transform: translate(-10%, -20%);
          transform: translate(-10%, -20%);
  mix-blend-mode: screen;
}

nav .order {
  background: #3a5cd7;
  padding: 1rem 3rem;
  border-radius: 2rem;
}


input[type=submit] {
  background: #3a5cd7;
  padding: 1rem 3rem;
  border-radius: 2rem;
  color: white;
  text-decoration: none;

}


nav .noti-header {
  color: #3a5cd7;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.doc-title {
  color: #3a5cd7;
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.showcase {
  display: -ms-grid;
  display: grid;
  min-height: 90vh;
  -ms-grid-columns: 10% (minmax(5rem, 1fr))[3] 10%;
      grid-template-columns: 10% repeat(3, minmax(5rem, 1fr)) 10%;
  -ms-grid-rows: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;
}

.showcase h2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.showcase img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  height: 110%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.showcase .info {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  height: 110%;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.showcase .info h3 {
  padding-bottom: 3rem;
}

.features-container {
  background: #323232;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.features-container .wave {
  position: absolute;
  left: 0;
  bottom: -25%;
  width: 100%;
  z-index: -1;
}

.features {
  min-height: 90vh;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.features .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: black;
}

.features .cards .card {
  background: white;
  margin: 0rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 2rem;
  overflow: hidden;
}

.features .cards .card h4 {
  margin: 2rem 0rem 1rem 0rem;
}

.features .cards .card p {
  padding: 2rem;
}

.features .cards .card img {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: auto;
  margin-right: auto;  
  height: auto;
  width:auto;
  max-height: 150px;
  max-width: 150px; 
}

.soon {
  background: radial-gradient(#525252, #131313);
  min-height: 80vh;
  position: relative;
  z-index: 0;
}

.soon img,
.soon .circle,
.soon h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.soon .circle {
  z-index: -1;
}

.soon h2 {
  top: 25%;
}

footer {
  min-height: 10vh;
  background: black;
  padding-left: 10%;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer h1 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 50%;
  }
  nav #logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  nav ul li {
    margin-left: 5rem;
  }
  .showcase {
    -ms-grid-columns: 10% 1fr 10%;
        grid-template-columns: 10% 1fr 10%;
  }
  .showcase img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .showcase img,
  .showcase h2,
  .showcase .info {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    text-align: center;
  }
  .features {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features h2 {
    margin-top: 5rem;
  }
  .features .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .features .cards .card {
    margin: 5rem 0rem;
  }
  .soon {
    overflow: hidden;
  }
  .soon img {
    width: 60%;
  }
  .soon h2 {
    font-size: 5rem;
    text-align: center;
  }
  footer h1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
/*# sourceMappingURL=style.css.map */

.cookie-consent-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2147483645;
  box-sizing: border-box;
  width: 100%;

  background-color: #F1F6F4;
}

.cookie-consent-banner__inner {     
  max-width: 960px;
  margin: 0 auto;
  padding: 32px 0;
}

.cookie-consent-banner__copy { 
  margin-bottom: 16px;
}


.cookie-consent-banner__header {
  margin-bottom: 8px;
  
  font-family: "CeraPRO-Bold", sans-serif, arial;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.cookie-consent-banner__description {
  font-family: "CeraPRO-Regular", sans-serif, arial;
  font-weight: normal;
  color: #838F93;
  font-size: 16px;
  line-height: 24px;
}

.cookie-consent-banner__cta {
  box-sizing: border-box;
  display: inline-block;
  min-width: 164px;
  padding: 11px 13px;
    
  border-radius: 2px;
  
  background-color: #3a5cd7;
   
  color: #FFF;
  text-decoration: none;
  text-align: center;
  font-family: "CeraPRO-Regular", sans-serif, arial;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.cookie-consent-banner__cta--secondary { 
  padding: 9px 13px;
  
  border: 2px solid #3A4649;
  
  background-color: transparent;
  
  color: #3a5cd7;
}

.cookie-consent-banner__cta:hover {
  background-color: #22C870;
}

.cookie-consent-banner__cta--secondary:hover {
  border-color: #838F93;
    
  background-color: transparent;
  
  color: #22C870;
}

.cookie-consent-banner__cta:last-child {
  margin-left: 16px;
}
